<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.test01.JgsMapper">

    <select id="selectjgsnum" resultType="int">
        SELECT COUNT(*) as jgs  FROM tfactive;
    </select>


    <select id="selectjginfo" resultType="java.util.Map">
        SELECT
            fLastTime AS lt,
            fCauseAlias AS ca,
            fDetail AS d,
            fSeverity AS jb
        FROM
            tfactive
        WHERE
            fSeverity = 5
        ORDER BY
            fLastTime DESC
        LIMIT 1;
    </select>


    <select id="selectjginfoList" resultType="java.util.Map">
        SELECT
        *
        FROM
        tfactive
        WHERE
        fSeverity = 5
        ORDER BY
        fLastTime DESC
    </select>


</mapper>
