<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.test01.ZcyxztMapper">


    <!--  资产运行状态基础信息 -->

    <select id="selectZcyxztBaseInfoList" resultType="java.util.Map">
        SELECT
            IFNULL(moid," ") as moid,
            IFNULL(fip," ") as fip,
            IFNULL(fname," ") as fname,
            IFNULL(falias," ") as falias,
            IFNULL(fmodel," ") as fmodel,
            IFNULL(fvendor," ") as fvendor
        FROM
            tcmo
    </select>

    <select id="selectJkpzxxInfoList" resultType="java.util.Map">
        SELECT
            IFNULL(fpartid," ") as fpartid,
            IFNULL(fpartname," ") as fpartname,
            IFNULL(fpartalias," ") as fpartalias,
            IFNULL(fiftype," ") as fiftype,
            IFNULL(fifspeed," ") as fifspeed,
            IFNULL(fifphysaddress," ") as fifphysaddress
        FROM
            tcrfcmib2if
    </select>

    <select id="selectJkZtZxsjInfoList" resultType="java.util.Map">
        SELECT
            fpartid,
            fIfStatus,
            max(fCollectTime) AS time
        FROM
            tsrfcmib2if
    </select>

    <select id="selectJkzxlsInfoList" resultType="java.util.Map">
         SELECT
            fpartid,
            fbwusage,
            finrate,
            foutrate,
            max(fCollectTime) AS time
        FROM
            tprfcmib2if
    </select>

    <select id="selectWlsbCPULylInfoList" resultType="java.util.Map">
        SELECT
            fpartid,
            fcpuutil,
            max(fCollectTime) AS time
        FROM
            tpnwcpuperf
        GROUP BY
            fpartid
    </select>

    <select id="selectWlsbNCLylInfoList" resultType="java.util.Map">
        SELECT
            fpartid,
            fmemutil,
            max(fCollectTime) AS time
        FROM
            tpnwmemperf
    </select>

    <select id="selectZjsbCPULylInfoList" resultType="java.util.Map">
        SELECT
            ftotalcpu,
            max(fCollectTime) AS time
        FROM
            tphocpu
    </select>

    <select id="selectZjsbNCLylInfoList" resultType="java.util.Map">
        SELECT
            fmemratio,
            max(fCollectTime) AS time
        FROM
            tphomem
    </select>
    <!--资产信息首页接口-->
    <select id="selectZcxxListDate" resultType="java.util.Map">
        SELECT
            fAlias,
            CASE
        WHEN fVendor = "" THEN
            '东华软件'
        ELSE
            fVendor
        END AS fVendor
        FROM
            tcmo
        WHERE
            fPMOSN = '-1'
        AND fMOType NOT IN ('13');
    </select>
    <!--主机CPU总体利用率（取第一个数据）：-->
    <select id="selectYWXTListA" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            fTotalCpu
        FROM
            tphocpu
        WHERE
            mosn = (
                SELECT
                    MOSN
                FROM
                    tcmo
                    <where>
                        <if test="FTP != null and FTP !=''">
                            fIP = #{FTP}
                        </if>
                    </where>
            )
        ORDER BY
            fCollectTime DESC
        limit 0,1;
    </select>
    <!--主机内存总体利用率：-->
    <select id="selectYWXTListB" resultType="java.util.Map"  parameterType="java.util.Map">
        SELECT
            fMemRatio
        FROM
            tphomem
        WHERE
            mosn = (
                SELECT
                    MOSN
                FROM
                    tcmo
                <where>
                    <if test="FTP != null and FTP !=''">
                        fIP = #{FTP}
                    </if>
                </where>
            )
        GROUP BY
            fCollectTime DESC
        LIMIT 0,1;
    </select>
    <!--网络在、离线状态（查询出数据为离线；查询为空则是在线）：-->
    <select id="selectYWXTListC" resultType="int"  parameterType="java.util.Map">
        SELECT
              count(1)
        FROM
              tfactive
        WHERE
            MOSN = (
            SELECT
            MOSN
            FROM
            tcmo
            <where>
                <if test="FTP != null and FTP !=''">
                    fIP = #{FTP}
                </if>
            </where>
            )
        AND fCause = '设备不可达';
    </select>

    <!--告警状态（异常为5；告警为4；其余3，2，1为正常）-->
    <select id="selectYWXTListD" resultType="java.util.Map"  parameterType="java.util.Map">
        SELECT
              fSeverity
        FROM
              tfactive
        WHERE
            MOSN = (
            SELECT
            MOSN
            FROM
            tcmo
            <where>
                <if test="FTP != null and FTP !=''">
                    fIP = #{FTP}
                </if>
            </where>
            )
        and fLastTime >=CURRENT_TIMESTAMP - INTERVAL 20 MINUTE
        ORDER BY fSeverity desc limit 0,1
    </select>
    <!--健康度列表-->
    <select id="selectJkdListDate" resultType="java.util.Map">
    <!-- SELECT
        fMOIP,
        fHealth,
        fMOAlias
    FROM
        tfactive -->
        SELECT DISTINCT
        (fMOIP),
        fHealth,
        fMOAlias
        FROM
        tfactive
        WHERE
        fPMOSN = '-1'
        AND fMOType != '13'
        AND fMOIP NOT IN (
        '1.1.1.1',
        '2.2.2.2',
        '3.3.3.3',
        '1.2.3.4',
        '1.2.3.5',
        '1.2.3.6',
        '1.2.3.7'
        );

</select>
<!--selectXnhZycListDate-->
    <select id="selectXnhZycListDate" resultType="java.util.Map">
        SELECT
            a.fAlias,a.fIP,b.*
        FROM
            tcmo a
        RIGHT JOIN tphocpu b ON a.mosn = b.mosn
        WHERE
            b.fCollectTime = (
                SELECT
                    max(c.fCollectTime)
                FROM
                    tphocpu c
            )
        AND a.fMOType in(1206,1208)   ORDER BY b.fCollectTime desc
    </select>

    <!--当前ip下是否有错误信息数量-->
    <select id="getErrorCountByFmoip"  resultType="int" parameterType="java.util.Map">
        SELECT
            count(1)
        FROM
            tfactive
        <where>
            <if test="fip != null and fip !=''">
                FMOIP = #{fip}
            </if>
        </where>
    </select>


</mapper>
